<button (click)="toggleOcultar()">Mostar / Ocultar</button>

<ul *ngIf="mostrarOcultar">
    <li *ngFor="let item of listaAluno"
    [ngStyle]="{'font-size': fontSize + 'px' }">
        ID: {{ item.id }} | Nome: {{ item.nome }} | 
        <span [ngClass]="{
                'ativo': item.ativo,
                'inativo': !item.ativo
            }">
            {{ item.ativo ? 'ativo' : 'Inativo'}}
        </span>
    </li>

    <div>
        <button (click)="maisFonte()"> + </button>
        <button (click)="menosFonte()"> - </button>
    </div>
</ul>




